<p>
  <a class="btn btn-info" href="/lists/<%= params[:list_name] %>/new">New User</a>
</p>

<p>
  <a class="btn btn-info" href="/lists/<%= params[:list_name] %>/login">Login</a>
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <th><%= user["uuid"] %></th>
        <td><%= user["name"] %></td>
        <td><%= user["email"] %></td>
        <td><a class="btn btn-info" title="Edit" href="/users/<%= user["uuid"] %>/edit">&#x270D;</a></td>
        <td><a class="btn btn-danger" title="Delete" href="/users/<%= user["uuid"] %>/delete">&#x2716;</a></td>
      </tr>
    <% end %>
  </tbody>
</table>
